$black: #000000;

$font-nunito: "Nunito", sans-serif;
$font-dancing: "Dancing Script", cursive;
$font-josefin: "Josefin Sans", sans-serif;

$colors: (
  primary: #c1740ef8,
  secondary: #b6bbc0,
  success: #328754,
  denger: #d23849,
  warning: #f9c11f,
  dark: #262626,
);

$size: (
  min: 5px,
  sm: 10px,
  md: 15px,
  lg: 20px,
  xl: 25px,
  xxl: 35px,
  max:50px,
);

@mixin List {
  list-style: none;
  display: flex;
  gap: map-get($map: $size, $key: min);
}

@mixin btn-main($x, $y, $fsize) {
  display: inline-block;
  background-color: transparent;
  color: map-get($map: $colors, $key: primary);
  padding: $y $x;
  border: 1px solid map-get($map: $colors, $key: primary);
  border-radius: map-get($map: $size, $key: md);
  font-family: $font-josefin;
  font-size: $fsize;
  margin-top: map-get($map: $size, $key: xxl);
  transition: all 0.7s;

  &:hover {
    background-color: #e99a33fc;
    color: $black;
  }
}

@mixin title($font, $fsize) {
  font-family: $font;
  color: map-get($map: $colors, $key: primary);
  font-weight: bolder;
  font-size: $fsize;
  margin-bottom: map-get($map: $size, $key: xxl);
}

/* style Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: map-get($map: $colors, $key: dark);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: map-get($map: $colors, $key: primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff8000;
}

::selection{
  color: white;
  background-color: map-get($map: $colors, $key: primary);
}

section{
  margin: 20px 35px;
}

hr{
  margin: 20px;
  border-color: map-get($map: $colors, $key: primary);
  border-radius: map-get($map: $size, $key: md);
}