.header {
  background-image: linear-gradient(rgba($black, 43%), rgba($black, 78%)),
    url("../img/bg.jpeg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
  .logo {
    position: absolute;
  }
  .item-header {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bi-shop-window {
      font-size: 90px;
      color: map-get($map: $colors, $key: primary);
    }
    .title {
      display: flex;
      align-items: center;
      gap: map-get($map: $size, $key: sm);
      padding: map-get($map: $size, $key: md);
      &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: map-get($map: $colors, $key: secondary);
        font-family: $font-nunito;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .banner {
      text-align: center;
      .welcome {
        @include title($font-dancing, 120px);
      }
      .sub {
        font-family: $font-nunito;
        color: map-get($map: $colors, $key: secondary);
        transition: all 2.3s;
        margin: map-get($map: $size, $key: md);
        &:hover {
          color: map-get($map: $colors, $key: warning);
          font-size: map-get($map: $size, $key: xxl);
          font-weight: bolder;
        }
      }
      .btn-main {
        @include btn-main(20px, 30px, 50px);
      }
    }
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: map-get($map: $size, $key: xxl) map-get($map: $size, $key: lg);
  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    .about-title {
      @include title($font-nunito, 50px);
      text-align: center;
    }
    .Chef {
      font-family: $font-nunito;
      color: map-get($map: $colors, $key: secondary);
      margin-bottom: map-get($map: $size, $key: lg);
      font-size: map-get($map: $size, $key: xxl);
    }
    .about-Description {
      color: map-get($map: $colors, $key: secondary);
      font-size: map-get($map: $size, $key: xl);
      font-family: $font-dancing;
    }
    .star {
      margin: map-get($map: $size, $key: xl);
      color: map-get($map: $colors, $key: primary);
      font-size: 50px;
    }
    .btn-main {
      @include btn-main(10px, 20px, 25px);
      text-decoration: none;
    }
  }
  &-img {
    width: 40%;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
    &-img {
      width: 90%;
    }
    &-text {
      width: 100%;
    }
  }
}

@media screen and  (max-width: 550px){
  .about-img{
    display: none;
  }
  
}

.footer {
  display: flex;
  justify-content: center;
  padding: map-get($map: $size, $key: md);
  border-top: 1px solid map-get($map: $colors, $key: secondary);
  border-radius: map-get($map: $size, $key: sm);
  &-list {
    @include List();
    a {
      color: map-get($map: $colors, $key: secondary);
      margin: map-get($map: $size, $key: sm);
    }
  }
}
