.header {
  background-image: linear-gradient(rgba($black, 43%), rgba($black, 78%)),
    url("../img/bg.jpeg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 0px 15px 15px;
  .logo {
    position: absolute;
  }
  .item-header {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bi-shop-window {
      font-size: 90px;
      color: map-get($map: $colors, $key: primary);
    }
    .title {
      display: flex;
      align-items: center;
      gap: map-get($map: $size, $key: sm);
      padding: map-get($map: $size, $key: md);
      &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: map-get($map: $colors, $key: secondary);
        font-family: $font-nunito;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .banner {
      text-align: center;
      .welcome {
        @include title($font-dancing, 120px);
      }
      .sub {
        font-family: $font-nunito;
        color: map-get($map: $colors, $key: secondary);
        transition: all 2.3s;
        margin: map-get($map: $size, $key: md);
        &:hover {
          color: map-get($map: $colors, $key: warning);
          font-size: map-get($map: $size, $key: xxl);
          font-weight: bolder;
        }
      }
      .btn-main {
        @include btn-main(20px, 30px, 50px);
      }
    }
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: map-get($map: $size, $key: xxl) map-get($map: $size, $key: lg);
  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .about-title {
      @include title($font-nunito, 50px);
      text-align: center;
    }
    .Chef {
      font-family: $font-nunito;
      color: map-get($map: $colors, $key: secondary);
      margin-bottom: map-get($map: $size, $key: lg);
      font-size: map-get($map: $size, $key: xxl);
    }
    .about-Description {
      color: map-get($map: $colors, $key: secondary);
      font-size: map-get($map: $size, $key: xl);
      font-family: $font-dancing;
    }
    .star {
      margin: map-get($map: $size, $key: xl);
      color: map-get($map: $colors, $key: primary);
      font-size: 50px;
    }
    .btn-main {
      @include btn-main(10px, 20px, 25px);
      text-decoration: none;
    }
  }
  &-img {
    display: none;
    width: 90%;
    img {
      width: 100%;
    }
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: map-get($map: $size, $key: xl);
  img {
    width: 100%;
    border-radius: map-get($map: $size, $key: lg);
  }

  .menu-parent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .menu-parent-text {
      display: none;
    }
    &:hover {
      cursor: cell;
      img {
        transition: all 0.4s;
        filter: blur(5px);
      }
      .menu-parent-text {
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-family: $font-dancing;
          color: map-get($map: $colors, $key: dark);
          font-size: map-get($map: $size, $key: max);
          font-weight: bolder;
          position: relative;
          margin-bottom: map-get($map: $size, $key: lg);
          &::before {
            display: block;
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.7;
            transform: scale(1.07, 1.05) skewX(-15deg);
            background-image: linear-gradient(to top left, #b37239, #e1965d);
          }
        }
        p {
          font-family: $font-josefin;
          font-size: map-get($map: $size, $key: xl);
          font-weight: 600;
          text-decoration: underline white;
          color: white;
        }
        a {
          @include btn-main(30px, 5px, 25px);
          text-decoration: none;
          background-color: #e1965d;
          color: map-get($map: $colors, $key: secondary);
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .about-img {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .about {
    flex-direction: row;
    &-img {
      width: 40%;
    }
    &-text {
      width: 60%;
    }
  }
}

@media (min-width: 1200px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .menu {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: map-get($map: $size, $key: md);
  border-top: 1px solid map-get($map: $colors, $key: primary);
  border-radius: map-get($map: $size, $key: sm);
  &-list {
    @include List();
    a {
      color: map-get($map: $colors, $key: secondary);
      margin: map-get($map: $size, $key: sm);
    }
  }
}
